<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="onloadJs">


    <!-- Bootstrap Core JavaScript -->
    <script src="/resource/question/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/resource/question/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/resource/question/dist/js/sb-admin-2.js"></script>

    <script src="/resource/question/checkbox/js/jquery-labelauty.js" type="text/javascript"></script>
</div>